<div classe="InfoHead">
<a href="home.html">Back to home page</a>
<h2>Action movies list :</h2>
<table align="center" style="width:40%">

  <tr>
    <th colspan=3>Avengers: Age of Ultron (2015)</th>
    
  </tr>

  <tr>
    <th width=33% rowspan="7"><img src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SY317_CR1,0,214,317_AL_.jpg" ></th>
    <td width=33%><b>Genre:</b></td>
	<td width=33%>Action, Adventure, Sci-Fi</td>
  </tr>
  <tr>
    <td><b>Country: </b></td>
	<td>USA (English)</td>
  </tr>
    <tr>
    <td><b>Director:</b></td>
	<td>Joss Whedon</td>
  </tr>
    <tr>
    <td><b>Plot: </b></td>
	<td>When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth's Mightiest</td>
  </tr>
    <tr>
    <td><b>Cast:</b></td>
	<td>Robert Downey Jr.,Chris Hemsworth ,Mark Ruffalo , ...</td>
  </tr>
    <tr>
    <td><b>Rating: </b></td>
	<td>Rated PG-13 for intense sequences of sci-fi action, violence and destruction, and for some suggestive comments.</td>
  </tr>
    <tr>
    <td><b>More info:</b></td>
	<td><a href="http://www.imdb.com/title/tt2395427/">http://www.imdb.com/title/tt3032282/</td>
  </tr>
  <tr>
    <th colspan=3>	    <div class="nav2">
      <div class="container2">
          <ul2>

<li2><a href="http://seventorrents.xyz/Movies/Download2.aspx?id=1090927">Download</a></li2>
</div>
</div></th>
    
  </tr>
  
</table>

<br />
<br />

<table align="center" style="width:40%">

  <tr>
    <th colspan=3>Eden (2014) </th>
    
  </tr>

  <tr>
    <th width=33% rowspan="7"><img src="http://ia.media-imdb.com/images/M/MV5BMTk1NTE5MTA5M15BMl5BanBnXkFtZTgwODY0NTc2NjE@._V1_SX214_AL_.jpg" ></th>
    <td width=33%><b>Genre:</b></td>
	<td width=33%>Drama, Thriller </td>
  </tr>
  <tr>
    <td><b>Country: </b></td>
	<td>Spain, Malaysia</td>
  </tr>
    <tr>
    <td><b>Director:</b></td>
	<td>Shyam Madiraju</td>
  </tr>
    <tr>
    <td><b>Plot: </b></td>
	<td>When a US soccer team gets stranded on a deserted island after a plane crash they must face difficult choices to survive. Modern day Lord of the Flies.</td>
  </tr>
    <tr>
    <td><b>Cast:</b></td>
	<td>Jessica Lowndes ,James Remar ,Sung Kang ,Diego Boneta , ...</td>
  </tr>
    <tr>
    <td><b>Rating: </b></td>
	<td>Rated R for violence, language and some sexuality</td>
  </tr>
    <tr>
    <td><b>More info:</b></td>
	<td><a href="http://www.imdb.com/title/tt3032282/">http://www.imdb.com/title/tt3032282/</td>
  </tr>
  <tr>
    <th colspan=3>	    <div class="nav2">
      <div class="container2">
          <ul2>

<li2><a href="http://seventorrents.xyz/Movies/Download2.aspx?id=1091422">Download</a></li2>
</div>
</div></th>
    
  </tr>
  
</table>
<br />
<br />
<table align="center" style="width:40%">

  <tr>
    <th colspan=3>Live Free or Die Hard (2007) </th>
    
  </tr>

  <tr>
    <th width=33% rowspan="7"><img src="http://ia.media-imdb.com/images/M/MV5BNDQxMDE1OTg4NV5BMl5BanBnXkFtZTcwMTMzOTQzMw@@._V1_SY317_CR0,0,214,317_AL_.jpg" ></th>
    <td width=33%><b>Genre:</b></td>
	<td width=33%>Action, Adventure, Thriller </td>
  </tr>
  <tr>
    <td><b>Country: </b></td>
	<td>USA, UK (English, Italian, French)</td>
  </tr>
    <tr>
    <td><b>Director:</b></td>
	<td>Len Wiseman</td>
  </tr>
    <tr>
    <td><b>Plot: </b></td>
	<td>When someone hacks into the computers at the FBI's Cyber Crime Division; the Director decides to round</td>
  </tr>
    <tr>
    <td><b>Cast:</b></td>
	<td>Bruce Willis ,Timothy Olyphant ,Justin Long , Maggie ...</td>
  </tr>
    <tr>
    <td><b>Rating: </b></td>
	<td>ated R film, just because it says PG-13 doesn't mean its not as violent as the others. No, he doesn't say the F word, but it's not as bad as you think.</td>
  </tr>
    <tr>
    <td><b>More info:</b></td>
	<td><a href="http://www.imdb.com/title/tt0337978/">http://www.imdb.com/title/tt0337978/</td>
  </tr>
  <tr>
    <th colspan=3>	    <div class="nav2">
      <div class="container2">
          <ul2>

<li2><a href="http://seventorrents.xyz/Movies/Download2.aspx?id=1014455">Download</a></li2>
</div>
</div></th>
    
  </tr>
  
</table>


